header {
    background-image: url(../img/pattern.png);
    background-size: 400px;
    background-color: rgb(25, 96, 226) ;
height: 100px;
}
.header-logo{
    height: 70%;
}

table
thead
th {
    background-color: rgb(144, 144, 250);
}
#color {
    background-color: aliceblue;
    
}
footer {
    background-image: url(../img/monitor.jpg);
    background-repeat: no-repeat;
}
